<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h1>Wine class prediction</h1>
    
    <body style="background-color: rgb(200, 100, 222) ;">

       
        <form method="post" action="/output">
            <label>Alcohol:</label>
            <input type="text" name="alcohol">
            </select>
            <br><br>
            
    
            <label>Malic_acid	:</label>
            <input type="text" name="malic_acid">   
            </select>
            <br><br>
    
            <label>Ash:</label> 
            <input type="text" name="ash">
            </select>
            <br><br>
    
            <label>Alcalinity_of_ash:</label> 
            <input type="text" name="alcalinity_of_ash">
            </select>
            <br><br>

            <label>Magnesium:</label>
            <input type="text" name="magnesium">
            </select>
            <br><br>
            <label>Total_phenols:</label> 
            <input type="text" name="total_phenols">
            </select>
            <br><br>

            <label>Flavanoids:</label> 
            <input type="text" name="flavanoids">
            </select>
            <br><br>
            <label>Nonflavanoid_phenols:</label> 
            <input type="text" name="nonflavanoid_phenols">
            </select>
            <br><br>
            <label>Proanthocyanins:</label> 
            <input type="text" name="proanthocyanins">
            </select>
            <br><br>
            <label>Color_intensity:</label> 
            <input type="text" name="color_intensity">
            </select>
            <br><br>
            <label>Hue:</label> 
            <input type="text" name="hue">
            </select>
            <br><br>
            <label>Diluted_wine:</label> 
            <input type="text" name="Diluted_wine">
            </select>
            <br><br>
            <label>Proline:</label> 
            <input type="text" name="proline">
            </select>
            <br><br>
         
            <input type="submit" value="SUBMIT">
            <br><br>
        
            <p>The target class is=== <b>{{ans}}</b></p>
        </form>
        
            
    
    </body>
    </html>
</html>
    
</body>
</html>
    
</body>
</html>